## Dúvidas

In [2]:
import numpy as np
import pandas as pd
import scipy.special

## exercicio 6 lista series-pandas(ver no exercicio)

Questão #6 Vale 10 Enunciado Crie um array com números entre 1 e 10, com passo 1. Em seguida, embaralhe esses números utilizando o método shuffle do Numpy. Crie uma lista com o fatorial desses números, nessa nova ordem (após o embaralhamento). Por fim, crie uma Series cujo os valores são os fatoriais (embaralhados) e os índices são os números associados ao fatorial.

Exemplo de saída

3 6 5 120 1 1 9 362880 4 24 7 5040 10 3628800 2 2 6 720 8 40320 dtype: int64

# Dúvida:
A maneira como foi feita o import está correta?

In [ ]:

from numpy.random import default_rng
rng = default_rng()                                               ###duvida, está correto este import?
vals = rng.standard_normal(10)
more_vals = rng.standard_normal(10)

#Crie um array com números entre 1 e 10
array1_10 = np.array([1,2,3,4,5,6,7,8,9,10])
#array1_10

#embaralhe esses números utilizando o método shuffle do Numpy
np.random.shuffle(array1_10)
#array1_10

#Crie uma lista com o fatorial desses números, nessa nova ordem (após o embaralhamento)
array1_10_factorial = scipy.special.factorial(array1_10)
#array1_10_factorial

#crie uma Series cujo os valores são os fatoriais (embaralhados) e os índices são os números associados ao fatorial
s_embaralhados = pd.Series(data=array1_10_factorial, index=array1_10)
s_embaralhados

## Mini Projeto

Questão: #Criar coluna "Total" somando o valor de todos os ativos por investidor

minha solução: São 7 colunas.  Somei as colunas usando:
df_consolidado1['Total'] = df_consolidado1['Ativo01'] + df_consolidado1['Ativo02'] +  df_consolidado1['Ativo03'] + df_consolidado1['Ativo04'] + df_consolidado1['Ativo05'] + df_consolidado1['Ativo06']+ df_consolidado1['Ativo07']


minhã dúvida: Existe algum comando que eu possa citar o intervalo das colunas  ele somará sem eu precisar escrever o nome de todas as colunas?

Questão: Criar coluna "Media" com a média das notas 1 e 2
minha solução:
df_consolidado1['Media'] =(df_consolidado1['Nota1'] + df_consolidado1['Nota2'])/2 

minha dúvida: Tentei usar a função mean() para dar como argumento as duas colunas e ela fazer a média. Tem alguma função que faça isso?

In [3]:
df = pd.DataFrame({'email':['kkk@gmail.com','aa@yahoo.com']})

In [4]:
df

           email
0  kkk@gmail.com
1   aa@yahoo.com

In [22]:
df['domain'] = df['email'].str.split('@', expand=False).str[1]
#df['domain'] = df['email'].str.split('@')

In [23]:
df

           email     domain
0  kkk@gmail.com  gmail.com
1   aa@yahoo.com  yahoo.com

In [28]:
df.replace('gmail.com','carlos.com')

           email      domain
0  kkk@gmail.com  carlos.com
1   aa@yahoo.com   yahoo.com

In [29]:
print('ola')

ola