In [1]:
import numpy as np
import pandas as pd

In [2]:
# Dataframe a partir de um dicionário

dados_lets_code = {'Nomes Professores': ['Renata', 'Pedro', 'Alexandre'], 'Número de alunos':  [12, 18, 15], 'Número de aulas dadas': [4, 12, 6]}

df = pd.DataFrame(dados_lets_code)
df

  Nomes Professores  Número de alunos  Número de aulas dadas
0            Renata                12                      4
1             Pedro                18                     12
2         Alexandre                15                      6

In [3]:
dados_1 = {'lista1':[0,1,2]}
df_dados_1 = pd.DataFrame(dados_1)
df_dados_1

   lista1
0       0
1       1
2       2

In [4]:
lista2 = [0,1]
lista2

[0, 1]

In [5]:
print(lista2)

[0, 1]

In [6]:
dados_2 = {'lista_2':lista2}
df_dados_2 = pd.DataFrame(dados_2)
df_dados_2

   lista_2
0        0
1        1

{'model_name': 'Logistic Regression',
 'estimator' : LogisticRegression(random_state = random_seed)},
{'model_name': 'KNN',
 'estimator' : KNeighborsClassifier()},
{'model_name': 'Decision Tree',
 'estimator' : DecisionTreeClassifier(random_state = random_seed)},
{'model_name': 'Random Forest',
 'estimator' : RandomForestClassifier(random_state = random_seed)}, 
{'model_name': 'XGBoost',
 'estimator' : XGBClassifier(random_state = random_seed)}

In [7]:
labels = ['Logistic Regression', 'KNN', 'Decision Tree', 'Random Forest', 'XGBoost']
    
labels

['Logistic Regression', 'KNN', 'Decision Tree', 'Random Forest', 'XGBoost']

In [8]:
listateste = list()
listateste1= list()

In [9]:
a=1
b=2
listateste.append(a)
listateste.append(b)
listateste

[1, 2]

In [10]:
listateste1.append(listateste)
listateste = list()
listateste1

[[1, 2]]

In [11]:
print(listateste1)

[[1, 2]]

In [12]:
def cria_conta(numero, titular, saldo, limite):
   conta = {"numero": numero, "titular": titular, "saldo": saldo, "limite": limite}
   return conta

In [13]:
a = cria_conta(1, 'ze', 0, 2)

In [14]:
print(a)

{'numero': 1, 'titular': 'ze', 'saldo': 0, 'limite': 2}

In [15]:
type(a)

dict

In [16]:
def cria_conta(numero, titular, saldo, limite):
   conta = [numero, titular, saldo, limite]
   return conta

In [17]:
a = cria_conta(1, 'ze', 0, 2)

In [18]:
print(a)

[1, 'ze', 0, 2]

In [19]:
def multiplos_valores():
  x = 10
  y = 15
  return x, y
a, b = multiplos_valores()
print(a) # 10
print(b) # 15

10
15

In [54]:
def multiplos_valores():
  x = 10
  y = 15
  return x,y
#a = multiplos_valores()
#print(a) # 10

In [55]:
def multiplos_valores2():
    b = multiplos_valores
    return b

In [56]:
print(b)

15

In [52]:
c = multiplos_valores2()
print(c)

<function multiplos_valores at 0x00000270DE5BCC10>

In [21]:
def  lista_def():
    listdef = list()
    listdef.append(a)
    return listdef

lista_def()
print(listdef)

NameError: name 'listdef' is not defined

In [ ]:
a

In [22]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)
# Accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_true, y_pred)
# Recall
from sklearn.metrics import recall_score
recall_score(y_true, y_pred, average=None)
# Precision
from sklearn.metrics import precision_score
precision_score(y_true, y_pred, average=None)

NameError: name 'y_true' is not defined

In [ ]:
# Method 1: sklearn
from sklearn.metrics import f1_score
f1_score(y_true, y_pred, average=None)
# Method 2: Manual Calculation
F1 = 2 * (precision * recall) / (precision + recall)
# Method 3: Classification report [BONUS]
from sklearn.metrics import classification_report
print(classification_report(y_true, y_pred, target_names=target_names))

In [23]:
listaa = list()
listab = list()
listac = list()

listaa.append(0)
listab.append(1)
listac.append(2)

print('listaa', listaa)
print('listab', listab)
print('listac', listac)

listaa [0]
listab [1]
listac [2]

In [24]:
print('oi')

oi

In [32]:
import nltk
from nltk.stem.porter import *

In [33]:
stemmer = PorterStemmer()
stemmer = nltk.stem.RSLPStemmer()

In [34]:
words = ['saying', 'writing', 'running', 'ate', 'worked']

stem_words = []
for w in words:
    s_words = stemmer.stem(w)
    stem_words.append(s_words)
    
stem_words

['saying', 'writing', 'running', 'ate', 'worked']

In [35]:
words = ['independencia', 'independente', 'independência', 'independentemente']

stem_words = []
for w in words:
    s_words = stemmer.stem(w)
    stem_words.append(s_words)
    
stem_words

['independenc', 'independ', 'independ', 'independ']

In [36]:
stemmer.stem("copiar")

'copi'

In [37]:
stemmer.stem("você")

'voc'

In [38]:
stemmer.stem("voce")

'voc'

In [39]:
stemmer.stem("voce")

'voc'

In [57]:
print('oi')

oi